@import url("https://fonts.googleapis.com/css?family=Bitter:700|Fredericka+the+Great&display=swap");

$font-stack-sans: Arial, Helvetica, sans-serif;
$font-stack-serif: "Bitter", "Courier New", Courier, Georgia, sans-serif;
$font-stack-cursive: "Fredericka the Great", cursive;
