.inner-wrapper {
  align-items: center;
  display: flex;
  position: relative;

  input {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  }

  svg {
    height: 1rem;
    left: 0.75rem;
    position: absolute;
    width: 1rem;
  }
}
